.bw-2 {
	border-width: 2px;
}

.br-5 {
	border-radius: 5px;
}

.weight {
	font-weight: 700
}

.text-white {
	color: #F5F5F5
}

.text-white-900 {
	color: #DDDDDD
}

.text-yellow {
	color: rgba(255, 255, 124, 0.877)
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-not-allowed {
	cursor: not-allowed;
}

.px-12 {
	padding-left: 12px;
	padding-right: 12px;
}

.py-5 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.py-12 {
	padding-top: 12px;
	padding-bottom: 12px;
}

.bg-red {
	background-color: #8a0022;
}

.bg-blue {
	background-color: rgb(7, 130, 187);
}

.bg-black-400 {
	background: #808080;
}


.bg-black-700 {
	background: #555555;
}

.bg-purple {
	background: purple
}

.bg-orange {
	background: rgb(255, 179, 37)
}

.bg-greenyellow {
	background: rgb(250, 205, 7)
}

.bg-green {
	background: rgb(118, 196, 1)
}
