@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
	@apply flex flex-col h-screen font-sans;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('https://unpkg.com/material-design-icons@3.0.1/iconfont/MaterialIcons-Regular.woff2')
		format('woff2');
}
