%icon-favorite-border:after{
    content: "favorite_border";
}

%icon-priority-high:after{
    content: "priority_high";
}

%icon-block:after {
    content: "block";
}

%icon-done:after {
    content: "done";
}