._D9W0.default.svelte-5gdv6s{--tw-bg-opacity:1;background-color:rgba(5, 150, 105, var(--tw-bg-opacity))
}._D9W0.hover.svelte-5gdv6s{cursor:pointer;--tw-bg-opacity:1;background-color:rgba(16, 185, 129, var(--tw-bg-opacity))
}._D9W0.active.svelte-5gdv6s{--tw-bg-opacity:1;background-color:rgba(245, 158, 11, var(--tw-bg-opacity))
}._D9W0.disabled.svelte-5gdv6s{cursor:not-allowed;--tw-bg-opacity:1;background-color:rgba(107, 114, 128, var(--tw-bg-opacity));--tw-text-opacity:1;color:rgba(243, 244, 246, var(--tw-text-opacity))
}._D9W0.svelte-5gdv6s{margin:0.5rem;border-radius:0.5rem;padding-left:1rem;padding-right:1rem;padding-top:0.5rem;padding-bottom:0.5rem;font-weight:700;--tw-text-opacity:1;color:rgba(255, 255, 255, var(--tw-text-opacity))
}.m-2{margin:0.5rem
}.cursor-pointer{cursor:pointer
}.cursor-not-allowed{cursor:not-allowed
}.rounded-lg{border-radius:0.5rem
}.bg-green-600{--tw-bg-opacity:1;background-color:rgba(5, 150, 105, var(--tw-bg-opacity))
}.bg-green-500{--tw-bg-opacity:1;background-color:rgba(16, 185, 129, var(--tw-bg-opacity))
}.bg-yellow-500{--tw-bg-opacity:1;background-color:rgba(245, 158, 11, var(--tw-bg-opacity))
}.bg-gray-500{--tw-bg-opacity:1;background-color:rgba(107, 114, 128, var(--tw-bg-opacity))
}.px-4{padding-left:1rem;padding-right:1rem
}.py-2{padding-top:0.5rem;padding-bottom:0.5rem
}.font-bold{font-weight:700
}.text-white{--tw-text-opacity:1;color:rgba(255, 255, 255, var(--tw-text-opacity))
}.text-gray-100{--tw-text-opacity:1;color:rgba(243, 244, 246, var(--tw-text-opacity))
}