.m-2 {
  margin: 0.5rem;
}

.block {
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.bg-green-600 {
  --tw-bg-opacity:1;
  background-color: rgba(5, 150, 105, var(--tw-bg-opacity));
}

.bg-green-500 {
  --tw-bg-opacity:1;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
}

.bg-yellow-500 {
  --tw-bg-opacity:1;
  background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
}

.bg-gray-500 {
  --tw-bg-opacity:1;
  background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.align-bottom {
  vertical-align: bottom;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-bold {
  font-weight: 700;
}

.text-white {
  --tw-text-opacity:1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-gray-100 {
  --tw-text-opacity:1;
  color: rgba(243, 244, 246, var(--tw-text-opacity));
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/font.woff2") format("woff2");
}
.material-icons {
  font-family: "Material Icons";
  font-style: normal;
  letter-spacing: normal;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.icon.block.svelte-1s6c02c:after {
  content: "block";
}

.icon.default.svelte-1s6c02c:after {
  content: "done";
}

._D9W0.svelte-1s6c02c {
  margin: 0.5rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  --tw-text-opacity:1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

._D9W0.default.svelte-1s6c02c {
  --tw-bg-opacity:1;
  background-color: rgba(5, 150, 105, var(--tw-bg-opacity));
}

._D9W0.hover.svelte-1s6c02c {
  cursor: pointer;
  --tw-bg-opacity:1;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
}

._D9W0.active.svelte-1s6c02c {
  --tw-bg-opacity:1;
  background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
}

._D9W0.disabled.svelte-1s6c02c {
  cursor: not-allowed;
  --tw-bg-opacity:1;
  background-color: rgba(107, 114, 128, var(--tw-bg-opacity));
  --tw-text-opacity:1;
  color: rgba(243, 244, 246, var(--tw-text-opacity));
}